{% load hasker_tags %}

<div class="vote-block p-0 mr-2" id="{{ obj_id }}"
     dj-vote-url="{{ vote_url }}"
     dj-init-data='{{ obj|as_votes_json:user|safe }}'>
    {% if user.is_authenticated %}
        <button class="btn btn-secondary vote-up">
            &#9650;
        </button>
    {% endif %}
    <div class="votes-count mx-auto">
        {{ obj.votes }}
    </div>
    {% if user.is_authenticated %}
        <button class="btn btn-secondary vote-down">
            &#9660;
        </button>
    {% endif %}
</div>
