{% extends 'hasker/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Hasker: Ask
{% endblock title_block %}

{% block content %}
<h1 class="ml-2 mt-2">Ask new question</h1>
<form class="mt-5" id="q_form" method="post" action="{% url 'ask' %}">

    {% csrf_token %}

    {% for field in q_form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">
                {{field.label_tag}}
            </label>
            <div>
                {{ field }}
            </div>
            {% if field.errors %}
                <div class="invalid-feedback d-block">
                    {{ field.errors }}
                </div>
            {% endif %}
        </div>
    {% endfor %}
        <input type="submit" name="submit" value="Ask question" class="btn btn-primary btn-block col-2">
</form>

{% endblock content %}