<!DOCTYPE html>

{% load staticfiles %}

{% load hasker_tags %}

<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'hasker/css/bootstrap.min.css' %}">
    <title>
    {% block title_block %}
        Hasker
    {% endblock title_block %}
    </title>
    {% endblock head %}
</head>
<body>
    {% block header_block %}
    <nav class="navbar navbar-dark bg-dark navbar-expand-sm shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{% url 'index' %}">Hasker</a>
        <form class="form-inline" method="get" action="{% url 'search' %}">
            <input class="form-control form-control-dark mr-sm-2" type="text" placeholder="Search" 
                   name="search_query">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav px-3 ml-auto">
        {% if user.is_authenticated %}
            <li class="nav-item">
                <div class="inset">
                    <img src="{{ user.avatar_url }}"
                         width="40" height="40" class="img-fluid img-thumbnail"/>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' %}">
                    {{ user.username }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">
                    Logout
                </a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'signup' %}">
                    Sign Up
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">
                    Login
                </a>
            </li>
        {% endif %}
        </ul>
    </nav>
    {% endblock header_block %}
    
    <div class="container">
        <div class="row">
            <div class="col-md-8 mt-2">
                {% block content %}
                    <h1>What is Hasker?</h1>

                    <p>
                    Hasker is Stackoverflow like site build to practice django skills during OTUS pydev course
                    If you read this something went terribly wrong, you should never get this message =(
                    </p>
                    <p>
                        <a class="btn btn-primary"> Sad kitty »</a>
                    </p>
                {% endblock content %}
            </div>
            {% block sidebar_block %}
            <div class="ml-auto col-md-3 mt-4">
                {% if user.is_authenticated %}
                <div class="sidebar-heading">
                    <a class="btn btn-primary btn-block" href="{% url 'ask' %}">
                        Ask!
                    </a>
                </div>
                {% endif %}
                <h4 class="mt-4">Trending</h4>
                {% top_questions 20 %}
            </div>
            {% endblock sidebar_block %}
        </div>
    </div>

    <footer>
    {% block footer %} 
    {% endblock footer %}
    </footer>

    <script src="{% static 'hasker/js/jquery.min.js' %}"></script>
    <script src="{% static 'hasker/js/bootstrap.min.js' %}"></script>
    {% block js_imports %}
    {% endblock js_imports %}
</body>
</html>