{% extends 'hasker/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Hasker
{% endblock title_block %}

{% block content %}
    <ul class="nav nav-tabs mb-3 mt-3">
        <li class="nav-item">
            {% if sortedby == "-asked_date" %}
                <h2><a class="nav-link active" href="{% url 'index' %}">New questions</a></h2>
            {% else %}
                <h2><a class="nav-link" href="{% url 'index' %}">New questions</a></h2>
            {% endif %}
        </li>
        <li class="nav-item">
            {% if sortedby == "-votes" %}
                <h2><a class="nav-link active" href="{% url 'index' %}?sortby=-votes">Hot questions</a></h2>
            {% else %}
                <h2><a class="nav-link" href="{% url 'index' %}?sortby=-votes">Hot questions</a></h2>
            {% endif %}
        </li>
    </ul>
    {% if questions %}
        
        {% include "hasker/_show_questions.html" with questions=questions %}

        {% if sortedby == '-votes' %}
            {% include "hasker/_pager.html" with paged_obj=questions query_addon='&sortby=-votes' %}
        {% else %}
            {% include "hasker/_pager.html" with paged_obj=questions %}
        {% endif %}
    {% else %}
        There are no questions =(
    {% endif %}
{% endblock content %}