{% extends 'hasker/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Hasker
{% endblock title_block %}

{% block content %}
    <ul class="nav nav-tabs mb-3 mt-3">
        <li class="nav-item">
            <h2>
                <a class="nav-link {% if sortedby == '-asked_date' %}active{% endif %}"
                   href="{% url 'index' %}">
                    New questions
                </a>
            </h2>
        </li>
        <li class="nav-item">
            <h2>
                <a class="nav-link {% if sortedby == '-votes' %}active{% endif %}" 
                   href="{% url 'index' %}?sortby=-votes">
                    Hot questions
                </a>
            </h2>
        </li>
    </ul>
    {% if questions %}
        
        {% include "hasker/include/_show_questions.html" with questions=questions %}

        {% if sortedby == '-votes' %}
            {% include "hasker/include/_pager.html" with paged_obj=page_obj query_addon='&sortby=-votes' %}
        {% else %}
            {% include "hasker/include/_pager.html" with paged_obj=page_obj %}
        {% endif %}
    {% else %}
        There are no questions =(
    {% endif %}
{% endblock content %}