{% extends 'hasker/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Hasker Sign Up!
{% endblock title_block %}

{% block content %}
<h1 class="ml-2 mt-2">Sign up</h1>
{% if registered %}
<dir class="ml-2">Sign up complited!</dir>
{% else %}
<form class="mt-5" id="user_form" method="post" action="{% url 'signup' %}"
    enctype="multipart/form-data">

    {% csrf_token %}

    {% include "hasker/include/_profile_form.html" with card_header="Profile details" button_name='Sign up!' form_data=user_form only%}

</form>

{% endif %}
{% endblock content %}