<div class="vote-block col-6 col-sm-3 mr-2" id="{{ obj_id }}">
    {% if user.is_authenticated %}
        <button class="btn btn-secondary vote-up">
            &uarr;
        </button>
    {% endif %}
    <div class="votes-count mx-auto">
        Vote #
    </div>
    {% if user.is_authenticated %}
        <button class="btn btn-secondary vote-down">
            &darr;
        </button>
    {% endif %}
</div>

{% csrf_token %}

<script>
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function vote_handler(id, reqType, voteType) {
    return function () {
        $.ajax({
            url: "{{ vote_url }}",
            type: reqType,
            data: reqType != 'POST'? {} : {
                vote_type: voteType,
                csrfmiddlewaretoken: getCookie('csrftoken'),
            },
            dataType: 'html',
            success: function(response) {
                response = JSON.parse(response);
                if (response['user_ups'] != 0) {
                    $(id + ' ' + 'button.vote-up').attr('disabled', true)
                    $(id + ' ' + 'button.vote-down').attr('disabled', false)
                } else if (response['user_downs'] != 0) {
                    $(id + ' ' + 'button.vote-down').attr('disabled', true)
                    $(id + ' ' + 'button.vote-up').attr('disabled', false)
                } else if (response['user_ups'] == 0 && response['user_downs'] == 0) {
                    $(id + ' ' + 'button.vote-down').attr('disabled', false)
                    $(id + ' ' + 'button.vote-up').attr('disabled', false)
                }
                $(id + ' div.votes-count').html(response['votes']);
            }
        });
    }
}

$(document).ready(function() {
    objId = "div#{{ obj_id }}"
    $(objId + ' button.vote-up').click(vote_handler(objId, 'POST', 'up'));
    $(objId + ' button.vote-down').click(vote_handler(objId, 'POST', 'down'))
    vote_handler(objId, 'GET')()
});
</script>