{% extends 'hasker/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Hasker
{% endblock title_block %}

{% block content %}
    <h1 class="ml-2 mt-2">New questions</h1>
    {% if questions %}
        {% for question in questions %}
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'question' question.id %}">{{ question.title }}</a></h5>
                        <div class="d-flex mt-2">
                            {% for tag in question.tags.all %}
                                <div class="p-0 mr-2">
                                    <span class="badge badge-dark">{{ tag.name }}</span>
                                </div>
                            {% endfor %}
                            <div class="d-flex ml-auto">
                                <div class="p-0 mr-2 ml-auto">
                                    {% if question.author.avatar %}
                                        <img src="{{ question.author.avatar.url }}"
                                            width="40" height="40" class="img-thumbnail"/>
                                    {% else %}
                                        <img src={% static "hasker/images/default.png" %} 
                                            width="40" height="40" class="img-thumbnail"/>
                                    {% endif %}
                                </div>
                                <div class="p-0 mr-2 mt-2 ml-auto">{{ question.author.username }}</div>
                                <p class="p-0 mt-2 ml-auto card-text">
                                    <small class="text-muted">asked {{ question.asked_date|timesince }} ago</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% include "hasker/_pager.html" with paged_obj=questions %}
    {% else %}
        There are no questions =(
    {% endif %}
{% endblock content %}