{% extends 'hasker/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Hasker Profile
{% endblock title_block %}

{% block content %}
<h1 class="ml-2 mt-2">Profile</h1>
<form class="mt-5" id="profile_form" method="post" action="{% url 'profile' %}"
    enctype="multipart/form-data">

    {% csrf_token %}

    <div class="col-md-8 col-md-offset-2">
        <div class="card align-items-center" style="width: 25rem;">
            <div class="card-header w-100">
                Profile details
            </div>
            <div class="card-body">

                {% for field in profile_form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}" class="">
                            {{field.label_tag}}
                        </label>
                        <div class="">
                            {{ field }}
                        </div>
                        {% if field.errors %}
                        <div class="invalid-feedback d-block">
                        {{ field.errors }}
                        </div>
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="col-md-6 col-md-offset-4">
                    <input type="submit" name="submit" value="Save" class="btn btn-primary btn-block">
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock content %}