{% extends 'hasker/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Hasker: {{ question.title }}
{% endblock title_block %}

{% block content %}
    <div class="card">
        <div class="row no-gutters">
                <div class="card-body">
                    <h5 class="card-title"><a href="#">{{ question.title }}</a></h5>
                    <p class="card-text">
                            {{ question.content }}
                    </p>
                    <div class="d-flex">
                        {% for tag in question.tags.all %}
                            <div class="p-0 mr-2">
                                <span class="badge badge-dark">{{ tag.name }}</span>
                            </div>
                        {% endfor %}
                        <div class="p-0 mr-2 ml-auto">
                        {% if question.author.avatar %}
                            <img src="{{ question.author.avatar.url }}"
                                width="40" height="40" class="img-thumbnail"/>
                        {% else %}
                            <img src={% static "hasker/images/default.png" %} 
                                width="40" height="40" class="img-thumbnail"/>
                        {% endif %}
                        </div>
                        <div class="p-0 mr-2">{{ question.author.username }}</div>
                    </div>
                </div>
        </div>
    </div>
{% endblock content %}