<div class="col-md-8">
    <div class="card align-items-center" style="width: 25rem;">
        <div class="card-header w-100">
            {{ card_header }}
        </div>
        <div class="card-body">
            {% for field in form_data %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">
                        {{field.label_tag}}
                    </label>
                    <div>
                        {{ field }}
                    </div>
                    {% if field.errors %}
                        <div class="invalid-feedback d-block">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="col-md-6 col-md-offset-4">
                <input type="submit" name="submit" value={{ button_name }} class="btn btn-primary btn-block">
            </div>
        </div>
    </div>
</div>